table,tr,td{
  border:2px solid #000;
  border-collapse: collapse;
  background-color: pink;

}
.main{
  display: flex;
  flex-wrap: wrap;
  background-color: #415;
}
.left{
  text-align: justify;
  background-color: #5F9EA0;
  border: 5px solid #000;
  padding: 3px;
  flex: 1;
  color: #000;
  /* background-image: url(); */
}
.right{
  text-align: justify;
  background-color: #777;
  border: 5px solid #000;
  flex:2px;
  padding: 3px;
}
#name{
  color: green;
}
.left img{
  border-radius: 50px;
  border: 5px solid #c454;
  width: 100px;
  height: 100px;

}
/* media queries(1024,1280,768,480)
1280-1024 : Desktop
1024-768 : Tablet(landscape)
768-480 : Tablet
480     : mobile (or) smaller device
 */
/* @media screen and (min-width:425px){
  .main{

    background-color: #999;
    display: flex;
    flex-wrap: wrap;
  }
  .left{

    background-color: #8FBC8F;
    border: 5px solid #000;

  }
  .right{

    background-color: #8B008B;
    border: 5px solid #000;
    margin: 5px;
    padding: 6px;
  }
  #name{
    color: green;
  }
  .left img{
    border-radius: 50px;
    border: 5px solid #c454;
    width: 100px;
    height: 100px;
  }
 } */
@media only screen and (min-width:1024px) and (max-width:1280px)
{
  .main{
    display: flex;
    flex-wrap: wrap;

  }
  .left{

    background-color: #8B008B;
  }
  .right{

    background-color: #8FBC8F;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  .main{
    display: flex;
    flex-wrap: wrap;

  }
  .left{

    background-color: #FF8C00;
  }
  .right{

    background-color: #483D8B;
  }
}
@media only screen and (min-width:480px) and (max-width:768px) {
  .main{
    display: flex;
    flex-wrap: wrap;

  }
  .left{

    background-color: #2F4F4F;
  }
  .right{

    background-color: 	#DAA520;
  }
}
@media only screen and (max-width:480px) {
  .main{
    display: flex;
    flex-wrap: wrap;

  }
  .left{

    background-color: 	#FAFAD2;
  }
  .right{

    background-color: #ADD8E6;
  }

}
